# IDEs
.project
.pydevproject
.idea
.vscode
.settings
.DS_Store
out.xml

# Random files
*~
\#*

virtualenv/
venv/
htmlcov/
rss_reader/static_root/
rss_reader/static_dist/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite

# Coverage 
coverage/
.coverage
.cache

# celery
celerybeat-schedule
celerybeat.pid

# not include scripts because they come from external module
scripts/
media/

